*{
    margin: 0px;
    padding: 0px;
}
.face{
    width: 400px;
    height: 500px;
    position: absolute;
    left: 200px;
    top: 100px;
    background-color: rgb(198,134,66);
    border-radius: 100%/ 50% 50% 120% 120%;
    box-shadow: 6px 21px 0 -0px rgb(175,165,168),-6px 21px 0 -0px rgb(175,165,168);
    z-index: 2;
}
.eye{
    width: 70px;
    height: 50px;
    background-color: rgb(236,232,229);
    border-radius: 50%;
    position: absolute;
    top: 170px;
    left: 90px;
    box-shadow: 140px 0 rgb(236,232,229);
}
.eye::before{
    content: "";
    width: 35px;
    height: 35px;
    border-radius: 100%;
    position: absolute;
    /* background-color: rgb(139,201,114); */
    top: 8px;
    left: -70px;
    box-shadow: 235px -9px 0 -14px rgb(255, 255, 255),228px 0 0 -6px rgb(25,22,27),228px 0 rgb(40,23,18) ,95px -9px 0 -14px rgb(255, 255, 255),88px 0 0 -6px rgb(25,22,27),88px 0 rgb(40,23,18);
}
.eye::after{
    content: "";
    width: 75px;
    height:10px;
    border-radius: 100% 5px 1px 0;
    position: absolute;
    top: -20px;
    left: -5px;
    background-color: black;
}
.eye2{
    width: 75px;
    height:10px;
    border-radius: 5px 100% 0 1px;
    position: absolute;
    top: -20px;
    left: 140px;
    background-color: black;
}
.nose{
    width: 30px;
    height: 100px;
    border: 3px solid rgb(141,85,36);
    position: absolute;
    top: 236px;
    left: 180px;
    border-top: transparent;
    border-left: 5px solid transparent;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 1;
    background-color: rgb(198,134,66);
    z-index: 3;
}
.nose::before{
    content: "";
    width: 25px;
    height: 50px;
    border-bottom: 3px solid rgb(141,85,36);
    position: absolute;
    top: 46px;
    left: -6px;
    border-radius: 100%;
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    background-color: rgb(198,134,66);
    transform: rotate(30deg);
    
}
.nose::after{
    content: "";
    width: 25px;
    height: 50px;
    border-bottom: 3px solid rgb(141,85,36);
    position: absolute;
    top: 43px;
    left: 12px;
    border-radius: 100%;
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    transform: rotate(-30deg);
}
.mustache{
    width: 60px;
    height: 60px;
    /* background-color: black; */
    border-radius: 50%;
    box-shadow: 120px 300px black,
                160px 300px black;
    margin-left: 30px;
    margin-top: 30px;
    position: absolute;
    z-index: 2;
}
.mustache::before{
    content: "";
    width: 80px;
    height: 40px;
    border-bottom: 58px solid black;
    border-bottom-left-radius: 100%;
    position: absolute;
    top: 262px;
    left: 63px;
    transform: rotate(-40deg);
    transform-origin: right 55px;
    animation: leftside 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes leftside{
    0%{
        transform: rotate(-20deg);
    }
    100%{
        transform: rotate(-40deg);
    }
}
.mustache::after{
    content: "";
    width: 80px;
    height: 40px;
    border-bottom: 58px solid black;
    border-radius: 0 0 100% 0;
    position: absolute;
    top: 262px;
    left: 198px;
    transform: rotate(40deg);
    transform-origin: left 55px;
    animation: rightside 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes rightside{
    0%{
        transform: rotate(20deg);
    }
    100%{
        transform: rotate(40deg);
    }
}
.lip{
    width: 35%;
    height: 9%;
    position: absolute;
    background: #f007;
    top: 71%;
    left: 50%;
    transform: translate(-50%,0);
    background-color: rgb(221,114,75);
    border-radius: 50%;
    z-index: 1;
}
.beard{
    width: 70%;
    height: 30%;
    position: absolute;
    left: 15%;
    border-radius:100%/ 80% 80% 110% 110%;
    bottom: -1%;
    background: rgb(175,165,168);
}
.ear{
    width: 60px;
    height: 150px;
    background: rgb(198,134,66);
    border-radius: 70% 70% 50% 100%;
    position: absolute;
    left: 160px;
    top: 260px;
    transform: rotate(-4deg);
    z-index: 1;
}
.ear::before{
    content: "";
    width: 60px;
    height: 150px;
    background: rgb(198,134,66);
    border-radius: 70% 70% 100% 50%;
    position: absolute;
    left: 420px;
    top: 30px;
    transform: rotate(4deg);
}