*{
    margin: 0px;
    padding: 0px;
}
.main{
    margin-top: 150px;
    margin-left: 550px;
    background-color: rgb(65, 68, 80);
    width: 240px;
    padding-left: 20px;
    padding-top: 30px;
    height: 430px;
    border-radius: 10px;
}
.top{
    display: grid;
    grid-template-columns: repeat(6,32.5px);
    grid-template-rows: repeat(5,25px);
    gap: 5px;
}
.key{
    border: 1px solid black;
    font-size: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(37,38,40);
    color: white;
}
.key3{
    background-color: rgb(214,214,212);
    color: black;
}
.bottom{
    display: grid;
    grid-template-columns: repeat(5,40px);
    grid-template-rows: repeat(5,35px);
    gap: 5px;
    margin-top: 15px;
}
.key2{
    border: 1px solid black;
    font-size: 15px;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(145, 144, 150);
    color: white;
}
.key4{
    background-color: rgb(195,76,98);
}
.replay{
    grid-column: 3/5;
    grid-row: 1/3;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
}
.screen{
    margin-bottom: 25px;
    border: 1px solid;
    width: 210px;
    margin-left: 5px;
    border-radius: 5px;
}
.search{
    width: 210px;
    height: 60px;
    background-color: rgb(72,100,101);

}